

# Ignoring files of each project separately

# 01 - React Project
/01 - React Project/reactone/node_modules

# 02 - Daily Goals
/02 - Daily Goals/reacttwo/node_modules

# 03 - React Three
/03 - React Three/discordclone/node_modules
