

# Ignoring files of each project separately

# 01 - React Project
/01 - React Project/reactone/node_modules

# 02 - Daily Goals
/02 - Daily Goals/reacttwo/node_modules

# 03 - React Three
/03 - React Three/discordclone/node_modules

# 04 - React Four
/04 - React Four/restaurant-website-clone/dist
/04 - React Four/restaurant-website-clone/node_modules

# 05 - Counter
05 - Counter/Counter/node_modules

# 06 - Plan With Love Clone
06 - Plan With Love Clone/planWithLove/node_modules

# 07 - Window Size with useEffect
07 - Window Size with useEffect/windowSizeWithUseEffect/node_modules

# 08 - Top Courses
08 - Top Courses/top-courses-clone/node_modules

# 09 - Background Changer
09 - Background Changer/bgChanger/node_modules

